<div class="row">
    <toaster-container></toaster-container>
    <form role="form">
        <div class="col-lg-12">
            <h1 class="page-header" ng-if="create">Create Project Summary</h1>
            <h1 class="page-header" ng-if="!create">Edit Project Summary</h1>
            <p class="proj-summary-title">{{project.title}}</p>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Activities
                    <div class="p-summary-icons">
                        <a><i class="fa fa-trash-o fa-fw"></i></a>&nbsp;
                        <a href="" ng-click="addNewActivity()"><i class="fa fa-plus-circle fa-fw"></i></a>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <div class="Table">
                            <div class="Heading divthead">
                                <div class="Cell">
                                    <span>Name</span>
                                </div>
                                <div class="Cell">
                                    <span>Resources (with Details & Quantity)</span>
                                </div>
                                <!--<div class="Cell">
                                    <span>&nbsp;</span>
                                </div>
                                <div class="Cell">
                                    <span>Quantity</span>
                                </div>-->
                            </div>
                            <div class="Row" ng-repeat="activity in activitySet.activityResources track by $index">
                                <div class="Cell form-group">
                                    <input ng-model="activity.name" type="text" class="form-control" placeholder="Activity Name">
                                </div>
                                <div class="Cell form-group">
                                    <div class="cell-container" ng-repeat="res in activity.resources track by $index">
                                        <div class="field-holder col-lg-4">
                                            <select ng-model="res.type" class="form-control" ng-options="resourceType for resourceType in availResourcesList">
                                                <option>Select Resources</option>
                                            </select>
                                        </div>
                                        <div class="field-holder col-lg-3" >
                                            <select ng-if="!checkIfDescription(res.type)" ng-disabled="true" class="form-control">
                                            </select>
                                            <select ng-if="checkIfDescription(res.type)" ng-model="res.description" class="form-control" ng-options="resourceDesc for resourceDesc in getDescList(res.type)">
                                                <option>Select Description</option>
                                            </select>
                                        </div>
                                        <div class="field-holder col-lg-2 col-lg-offset-0">
                                            <a href="" ng-click="addNewResourceOnActivity(activity)"><i class="fa fa-plus-circle fa-fw fa-2x"></i></a>
                                        </div>
                                        <div class="field-holder col-lg-2 col-lg-offset-1 tooltip-demo" data-tip="Available Quantity: {{getOnhand(res.type, res.description)}}" style="float:right;">
                                            <input ng-model="res.qty" type="text" class="form-control" placeholder="Quantity">
                                        </div>
                                        <br/>
                                    </div>
                                    <!-- <div class="cell-container">
                                        <div class="field-holder col-lg-4">
                                            <select class="form-control">
                                                <option>Select Resources</option>
                                            </select>
                                        </div>
                                        <div class="field-holder col-lg-3" >
                                            <select class="form-control">
                                                <option>Select Sub-Resources</option>
                                            </select>
                                        </div>
                                        <div class="field-holder col-lg-2 col-lg-offset-0">
                                            <a><i class="fa fa-plus-circle fa-fw fa-2x"></i></a>
                                        </div>
                                        <div class="field-holder col-lg-2 col-lg-offset-1" style="float:right;">
                                            <input type="text" class="form-control" placeholder="Quantity">
                                        </div>
                                        <br>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <div class="col-lg-6"></div>
                            <button class="btn btn-primary">&nbsp;&nbsp; Cancel &nbsp; &nbsp;</button>
                            <button ng-click="saveChanges()" class="btn btn-primary">Save Changes</button>
                        </div>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </form>
</div>