<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Credits</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                About the Developers
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <p>&nbsp; &nbsp;The ASEAN Aid Map is a web-based application developed by a team of developers called The Silent Underdogs. The team is composed of three graduating seniors
                        from University of Negros Occidental-Recoletos. This application is one of their requirements for graduation.</p>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="team-logo col-lg-7">
                        <img src="images/img/silent_underdogs.png" />
                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="well">
                            <div class="org-profile-avatar">
                                <img class="img-circle" src="images/img/lix.png" alt="avatar" />
                            </div>
                            <h4 class="text-center">Hazel Joie G. Caquicla</h4>
                            <span class="help-block text-center">BSIT</span>
                            <span class="help-block text-center">Email: iamelixirdayo@gmail.com</span>
                            <div class="text-center">
                                <a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-bitbucket"></i></a>
                                <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                                <a class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
                                <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                                <a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                                <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="well">
                            <div class="org-profile-avatar">
                                <img class="img-circle" src="images/img/tin.png" alt="avatar" />
                            </div>
                            <h4 class="text-center">Christine A. De la Cruz</h4>
                            <span class="help-block text-center">BSIT</span>
                            <span class="help-block text-center">Email: xtinedc1115@gmail.com</span>
                            <div class="text-center">
                                <a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-bitbucket"></i></a>
                                <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                                <a class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
                                <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                                <a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                                <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="well">
                            <div class="org-profile-avatar">
                                <img class="img-circle" src="images/img/saya.png" alt="avatar" />
                            </div>
                            <h4 class="text-center">Isaiah G. Taguibao</h4>
                            <span class="help-block text-center">BSIT</span>
                            <span class="help-block text-center">Email: isaiahtaguibao@gmail.com</span>
                            <div class="text-center">
                                <a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-bitbucket"></i></a>
                                <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                                <a class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
                                <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                                <a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                                <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>