<div class="row" ng-init="getPerformanceStat()">
    <div class="col-lg-12">
        <h1 class="page-header">Performance Statistics</h1>
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Overall
                    </div>
                    <div class="panel-body">
                        <p class="overallstat">{{overallScore.evaluation}}</p>
                        <span class="yeardrop">Year:</span>
                        <div>
                            <select class="form-control" ng-model="year" ng-change="getPerformanceStat()">
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                            </select>
                        </div>
                    </div>
                    <!--<div class="panel-footer">
                        Panel Footer
                    </div>-->
                </div>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
        <div class="panel panel-primary">
            <!--<div class="panel-heading">
                List of Donors
                <div class="p-summary-icons">
                    <a><i class="fa fa-print fa-fw"></i></a>
                </div>
            </div>-->
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="Table">
                        <div class="Heading divthead">
                            <div class="Cell">
                                <span>Project Name</span>
                            </div>
                            <div class="Cell">
                                <span>Status</span>
                            </div>
                            <div class="Cell">
                                <span>Performance</span>
                            </div>
                            <div class="Cell">
                                <!--<span>Performance</span>-->
                            </div>
                        </div>
                        <div class="Row" ng-repeat="performance in performanceReport track by $index">
                            <div class="Cell">
                                <p>{{performance.project.title}}</p>
                            </div>
                            <div class="Cell">
                                <p>{{performance.project.status}}</p>
                            </div>
                            <div class="Cell">
                                <p>{{performance.overall.evaluation}}</p>
                            </div>
                            <div class="Cell">
                                <button type="button" ng-click="seeEvaluation($index)" class="btn btn-link" data-toggle="modal" data-target="#evaluationModal"><p><i class="fa fa-info"></i>&nbsp;See evaluation</p></button>
                            </div>
                        </div>
                        <div class="Row" ng-if="noPerformanceReport">
                            <p>No Performance Statistics this year.</p>
                        </div>
                        <!--<div class="Row">-->
                            <!--<div class="Cell">-->
                                <!--<p>Project Name here</p>-->
                            <!--</div>-->
                            <!--<div class="Cell">-->
                                <!--<p>Status</p>-->
                            <!--</div>-->
                            <!--<div class="Cell">-->
                                <!--<p>Performance</p>-->
                            <!--</div>-->
                            <!--<div class="Cell">-->
                                <!--<button type="button" class="btn btn-link" data-toggle="modal" data-target="#evaluationModal"><p><i class="fa fa-info"></i>&nbsp;See evaluation</p></button>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <!-- EVALUATION Modal -->
        <div class="modal fade" id="evaluationModal" tabindex="-1" role="dialog" aria-labelledby="collabList" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title" id="collabList">Evaluation Details</h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <div class="Table">
                                <div class="Row">
                                    <div class="Cell">
                                        <p>Highest Evaluation Score</p>
                                    </div>
                                    <div class="Cell">
                                        <p>{{highestPerformanceScore}}</p>
                                    </div>
                                    <div class="Cell">
                                        <p>{{highestPerformanceDetails}}</p>
                                    </div>
                                </div>
                                <div class="Row">
                                    <div class="Cell">
                                        <p>Lowest Evaluation Score</p>
                                    </div>
                                    <div class="Cell">
                                        <p>{{lowestPerformanceScore}}</p>
                                    </div>
                                    <div class="Cell">
                                        <p>{{lowestPerformanceDetails}}</p>
                                    </div>
                                </div>
                                <div class="Row">
                                    <div class="Cell">
                                        <p>Overall Evaluation Score</p>
                                    </div>
                                    <div class="Cell">
                                        <p>{{currentPerformanceReport.overall.score}}</p>
                                    </div>
                                    <div class="Cell">
                                        <!--<p>Details</p>-->
                                    </div>
                                </div>
                            </div>
                            <!-- /.table-responsive -->
                            <!-- /.row -->
                            <br/>
                            <div class="col-lg-2">
                            </div>
                            <!-- /.col-lg-4 -->
                            <div class="col-lg-8">
                                <div class="well">
                                    <h4>Values Guide:</h4>
                                    <div class="Table values-guide">
                                        <div class="Row">
                                            <div class="Cell">
                                                <p>Poor Performance</p>
                                            </div>
                                            <div class="Cell">
                                                <p>(0-20)</p>
                                            </div>
                                        </div>
                                        <div class="Row">
                                            <div class="Cell">
                                                <p>Average Performance</p>
                                            </div>
                                            <div class="Cell">
                                                <p>(21-40)</p>
                                            </div>
                                        </div>
                                        <div class="Row">
                                            <div class="Cell">
                                                <p>Good Performance</p>
                                            </div>
                                            <div class="Cell">
                                                <p>(41-60)</p>
                                            </div>
                                        </div>
                                        <div class="Row">
                                            <div class="Cell">
                                                <p>Very Good Performance</p>
                                            </div>
                                            <div class="Cell">
                                                <p>(61-80)</p>
                                            </div>
                                        </div>
                                        <div class="Row">
                                            <div class="Cell">
                                                <p>Excellent Performance</p>
                                            </div>
                                            <div class="Cell">
                                                <p>(81-100)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-lg-4 -->
                            <div class="col-lg-2">
                            </div>
                            <!-- /.col-lg-4 -->
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>